<!-- <nav class="navbar p-3 d-flex justify-content-center">
    <a class="nav-brand font-weight-bold">Fashionista</a>
    <span class="nav">
        <a class="mr-3 text-uppercase text-dark font-weight-bold nav-link" href="#">Women</a>
        <a class="mr-3 text-uppercase text-dark font-weight-bold nav-link" href="#">Men</a>
        <a class="mr-3 text-uppercase text-dark font-weight-bold nav-link" href="#">Kids</a>
        <a class="mr-3 text-uppercase text-dark font-weight-bold nav-link" href="#">Fashion</a>
        <a class="mr-3 text-uppercase text-dark font-weight-bold nav-link" href="#">Sale</a>
    </span>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 badge-pill " type="search" placeholder="Search" aria-label="Search" style="background-color: #F5F5F5;">
    </form>
    <div class="right">
        <i class="fal fa-lg fa-shopping-bag mr-3"></i>
        <i class="far fa-lg fa-user"></i>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Fashionista</a>
    <div class="icons d-md-inline d-lg-none">
        <i class="fal fa-lg fa-shopping-bag mr-3"></i>
        <i class="far fa-lg fa-user"></i>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Men</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fashion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sale</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 badge-pill" type="search" placeholder="Search" aria-label="Search" style="background-color: #F5F5F5; border: none;">
      </form>
      <div class="icons d-none d-lg-inline">
        <i class="fal fa-lg fa-shopping-bag mr-3"></i>
        <i class="far fa-lg fa-user"></i>
    </div>
    </div>
  </nav>


          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
