<footer class="footer">
    <div class="container-fluid p-3" style="background-color: #fff;">
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-4 col-md-3 col-lg-2 col-xl-2">
                <h6 class="font-weight-bold text-uppercase">Products</h6> <br/>
                    <div style="font-size: 14px">
                        <a class="d-block" style="color: #595959;" href="#">Accessories</a>
                        <a class="d-block" style="color: #595959;" href="#">Clothing</a>
                        <a class="d-block" style="color: #595959;" href="#">Shoes</a> 
                        <br/>
                        <a class="d-block" style="color: #595959;" href="#">Sales</a>
                        <a class="d-block" style="color: #595959;" href="#">Best Selling</a>
                        <a class="d-block" style="color: #595959;" href="#">New Arrivals</a>
                    </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2 col-xl-2">
                <h6 class="font-weight-bold text-uppercase">Support</h6> <br/>
                <div style="font-size: 14px">
                    <a class="d-block" style="color: #595959;" href="#">Help</a>
                    <a class="d-block" style="color: #595959;" href="#">Shipping</a>
                    <a class="d-block" style="color: #595959;" href="#">Order Tracker</a> 
                    <a class="d-block" style="color: #595959;" href="#">Stores</a>
                    <a class="d-block" style="color: #595959;" href="#">Size Charts</a>
                    <a class="d-block" style="color: #595959;" href="#">FAQ</a>
                </div>
            </div>
            <div class="d-none d-lg-inline col-lg-2 col-xl-2">
                <h6 class="font-weight-bold text-uppercase">Gift Cards</h6> <br/>
                <div style="font-size: 14px">
                    <a class="d-block" style="color: #595959;" href="#">E-Gift Cards</a>
                    <a class="d-block" style="color: #595959;" href="#">Physical Cards</a>
                    <a class="d-block" style="color: #595959;" href="#">Balance Check</a> 
                </div>
            </div>
            <div class="d-none d-xl-inline col-xl-1">
                <h6 class="font-weight-bold text-uppercase">About Us</h6> <br/>
                <div style="font-size: 14px">
                    <a class="d-block" style="color: #595959;" href="#">Locations</a>
                    <a class="d-block" style="color: #595959;" href="#">Mission</a>
                    <a class="d-block" style="color: #595959;" href="#">Goals</a> 
                    <a class="d-block" style="color: #595959;" href="#">Careers</a>
                    <a class="d-block" style="color: #595959;" href="#">Investors</a>
                    <a class="d-block" style="color: #595959;" href="#">Press</a>
                    <a class="d-block" style="color: #595959;" href="#">Students</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid p-3 text-center" style="background-color: #363738; color: #bcbfc0">
        <div class="row">
            <div class="col-12">
            <span style="font-size: 12px;">
                    <a class="m-3" href="#" style="color: #bcbfc0">Cookies</a> |    
                    <a class="m-3" href="#" style="color: #bcbfc0">Terms & Conditions</a> |
                    <a class="m-3" href="#" style="color: #bcbfc0">Do not sell my information</a> |
                    <p class="m-3 d-inline" style="color: #bcbfc0"> © 2020 Fashionista Inc.</p>
                </span>
            </div>
        </div>
    </div>
</footer>
